@* <div class="modal fade" id="Editclient_@client.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form asp-action="Edit" method="post">
  <div class="modal-dialog modal-md modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Add Client</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-12">
            <div class="form-group col-12">
            <label asp-for="Id"></label>
            <input type="text" asp-for="@client.Id" class="form-control" readonly/>
            <span asp-validation-for="Id" class="text-danger"></span>
          </div>

            <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName" class="form-control" value="@client.FirstName"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
          </div>
          
          <div class="form-group col-6">
            <label asp-for="MiddleName"></label>
            <input type="text" asp-for="MiddleName" class="form-control" value="@client.MiddleName"/>
            <span asp-validation-for="MiddleName" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" class="form-control" value="@client.LastName"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="Usertype"></label>
            <select asp-for="Usertype" class="form-select form-select-md" aria-label="Large select example" value="">
              <option selected>Select UserType</option>
                                @foreach (var type in (IEnumerable<DizonCoop.Entities.UserType>)ViewData["types"])
                {
                    <option value="@type.Id">@type.Name</option>
                }
               </select>
          </div>

          <div class="form-group col-6">
            <label asp-for="Address"></label>
            <input type="text" asp-for="Address" class="form-control" value="@client.Address"/>
            <span asp-validation-for="Address" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="ZipCode"></label>
            <input type="number" asp-for="ZipCode" class="form-control" value="@client.ZipCode"/>
            <span asp-validation-for="ZipCode" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="BirthDate"></label>
            <input type="date" asp-for="BirthDate" class="form-control" value="@client.BirthDate (Y-m-d)"/>
            <span asp-validation-for="BirthDate" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="Age"></label>
            <input type="number" asp-for="Age" class="form-control" value="@client.Age"/>
            <span asp-validation-for="Age" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="NameOfFather"></label>
            <input type="text" asp-for="NameOfFather" class="form-control" value="@client.NameOfFather"/>
            <span asp-validation-for="NameOfFather" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="NameOfMother"></label>
            <input asp-for="NameOfMother" class="form-control"/>
            <span asp-validation-for="NameOfMother" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="CivilStatus"></label>
            <input type="text" asp-for="CivilStatus" class="form-control" value="@client.CivilStatus"/>
            <span asp-validation-for="CivilStatus" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="Relgion"></label>
            <input type="text" asp-for="Relgion" class="form-control" value="@client.Relgion"/>
            <span asp-validation-for="Relgion" class="text-danger"></span>
          </div>

          <div class="form-group col-6">
            <label asp-for="Occupation"></label>
            <input type="text" asp-for="Occupation" class="form-control" value="@client.Occupation"/>
            <span asp-validation-for="Occupation" class="text-danger"></span>
          </div>
          
        
         <br>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
</div>
</form>
</div> *@