

<table id="example" class="table table-striped" style="width:100%">
  <thead class="bg-dark">
    <tr class="text-white">
      <th>Id</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Age</th>
      <th>Civil Status</th>
      <th>User type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var client in (IEnumerable<DizonCoop.Entities.ClientInfo>)ViewData["clientinfo"]) {
    <tr>
      <td>@client.Id</td>
      <td>@client.FirstName @client.LastName</td>
      <td>@client.BirthDate</td>
      <td>@client.Age</td>
      <td>@client.CivilStatus</td>
      <td>@client.Usertype</td>
      <td>
        <input type="button" value="View" class="btn btn-primary">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Editclient@client.Id"> Edit </button>
        <input type="button" value="Delete" class="btn btn-danger">
      </td>
    </tr>
     }
  </tbody>
  <tfoot class="bg-dark">
    <tr class="text-white">
      <th>Id</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Age</th>
      <th>Civil Status</th>
      <th>User type</th>
      <th>Action</th>
    </tr>
  </tfoot>
</table>