@model IEnumerable<DizonCoop.Models.ClientInfoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Client List</h3>

<br>
<table id="example" class="table table-striped" style="width:100%">
  <thead class="bg-dark">
    <tr class="text-white">
      <th>Id</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Age</th>
      <th>Civil Status</th>
      <th>User type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model){
    <tr>
      
      <td>@Html.DisplayFor(modelItem  => item.Id)</td>
      <td>@Html.DisplayFor(modelItem  => item.FirstName)@Html.DisplayFor(modelItem => item.LastName)</td>
      <td>@Html.DisplayFor(modelItem  => item.BirthDate)</td>
      <td>@Html.DisplayFor(modelItem  => item.Age)</td>
      <td>@Html.DisplayFor(modelItem  => item.CivilStatus)</td>
      <td>@Html.DisplayFor(modelItem  => item.UsertypeName)</td>
      
    
      <td>
         <a href="#" class="btn btn-primary" id="updateButton" data-bs-toggle="modal" data-bs-target="#updateClientModal" data-VIEW="" >View</a>
         <a href="#" class="btn btn-warning" id="updateButton" data-bs-toggle="modal" data-bs-target="#updateClientModal" data-UPDATECLIENT="" >update</a>
        <a href="/Client/Delete/@Html.DisplayNameFor(model => model.Id)" class="btn btn-danger"> Delete </a>
      </td>
      
    </tr>
    }
  </tbody>
  </table>